.buttonContainer {
  background-color: #1a1c31;
  border-radius: 20px;
  margin-bottom: 10px;
  border: 1px solid #423f61;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 1rem;
}

.title {
  min-width: 115px;
  color: #fff;
  text-align: left; 

  margin-left: 0; 
  color: #fff; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: flex-end; 
}

.button {
    letter-spacing: -0.3px;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  border: 2px solid #343155;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  background-color: rgb(79, 87, 145);
  color: white;
}

.selected {
  background-color: #5867a8;
  color: #fff;
  border-color: #4842a5;
  border: 2px solid #343155;
}

.unselected {
  background-color: #312f4d;
  color: #fff;
}

.unselected:hover {
  background-color: #645c83;
  border-color: #ada8f3;
}

.selected:hover {
  border-color: #ada8f3;
}

.savePrefBtn {
  display: block; 
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 13px;
  border: 2px solid #343155;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #2a2d57;
}