.summarizeContainer {
  width: 380px;
  flex-shrink: 0;
   margin: 0;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    background-color: #e4e6ec36;
    border: 2px solid #eeeff1;
}

.summarizeTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #e0e0ff;
  text-align: left;
}

.summarizeList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summarizeItem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 1rem;
 
    background: rgba(148, 148, 161, 0.123);

  border-radius: 30px;
  margin-bottom: 10px;
   border: 1px solid rgba(250, 242, 242, 0.781);
  transition: transform 0.2s, background 0.2s;
}

.summarizeItem:hover {
  transform: translateY(-2px);
  background: rgba(0, 0, 0, 0.1);
}

.summarizeItem dt {
  font-weight: 700;
  font-size: 14px;
  color: #0d0d11b2;
  text-transform: uppercase;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.summarizeItem dd {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: #0d0d11b2;
  word-wrap: break-word;
  
}
