.sidebar {
  width: 350px;
  min-width: 350px;
  height: 100vh;
  background-color: #f0f7fd;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconButton {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.add {
  background-color: #1180e9;
  color: white;
}

.iconTextButton {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #eff0f1;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-right: 15px;
  margin-left: 7px;
}

.iconTextButton:hover {
  background-color: #cee8ff;
}

.selected {
  background-color: #cee8ff;
}

.selected:hover {
  background-color: #cee8ff;
}

.selected .navText {
  color: rgb(73, 131, 197);
}

.navText {
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
}

.sidebar {
  width: 320px;
  height: 100vh;
  background-color: #f0f7fd;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconButton {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.add {
  background-color: #1180e9;
  color: white;
}

.iconTextButton:disabled .navText.addText {
  color: #1180e9;
}

.iconTextButton {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #f0f7fd;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-right: 15px;
  margin-left: 7px;
}

.iconTextButton:hover {
  background-color: #cee8ff;
}

.selected {
  background-color: #cee8ff;
}

.selected:hover {
  background-color: #cee8ff;
}

.selected .navText {
  color: rgb(73, 131, 197);
}

.navText {
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
}

.prefIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: transparent;
  color: #494949;
}