.summarizeContainer {
  width: 400px;
  flex-shrink: 0;
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  border: 1px solid #343155;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #11162b;
  overflow-y: auto;
  color: #fff;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  position: sticky;
  top: 80px;
}
.summarizeCard {
    background-color: #1a1c31;
  border-radius: 20px;

  border: 1px solid #423f61;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80px;
}

.summarizeCard h4 {
  margin: 0 0 0.25rem 0;
  font-size: 14px;
  color: #aaa;
}

.summarizeCard p {
  margin: 0;
  font-weight: bold;
}