.summarizeContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  min-width: 300px;
  max-width: 900px;
  height: calc(100vh - 80px);
  
  padding: 2rem 1.5rem;
  box-sizing: border-box;

  background-color: #f0f7fd;
  color: #070707;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  overflow-y: auto;
  gap: 1rem;


}

.summarizeTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #e0e0ff;
  text-align: left;
}

.summarizeList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summarizeItem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.75rem 1rem;
 
  background-color: #eff0f1;

  border-radius: 30px;
  margin-bottom: 10px;
   border: 1px solid rgba(250, 242, 242, 0.781);
  transition: transform 0.2s, background 0.2s;
}

.summarizeItem:hover {
  transform: translateY(-2px);
}

.summarizeItem dt {
  font-weight: 700;
  font-size: 14px;
  color: #1180e9;
  text-transform: uppercase;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.summarizeItem dd {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  color: #0d0d11b2;
  word-wrap: break-word;
  
}
