.wrapper {
  display: flex;
  width: 100%;
  overflow: auto;
    height: 100vh;
    overflow: hidden;

}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;


  overflow: auto;
}

.headerText {
  display: flex;
  flex-direction: column;
margin-bottom: -40px;
   text-align: center;
padding-left: 0px;
}

.title {
text-align: center;
  margin: 0;
  line-height: 1; 
  color: #2475a3;
}

.hint {
  text-align: center;
  color: #376e7c;
  font-weight: 600;
  font-size: 14px;
}


.onboardingWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tabsContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.tab {
  padding: 8px 14px;
  font-weight: 600;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #007aff;
  border-radius: 6px;
  transition: 0.15s ease;
}

.tab:hover {
  background: rgb(11, 74, 141);
  color: white;
}

.activeTab {
  background: #007aff;
  color: white;
}