.toolbarContainer {
  display: flex;
  gap: 12px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:10px;
  right:10px;
  max-width: fit-content;
 
  z-index: 1000;

}

.iconButton {
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
}

.iconButton:hover {
  transform: scale(1.2);
}

.iconButton:disabled {
  opacity: 0.4;
  cursor: default;
}
