.outerContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  z-index: 1000;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: calc(100vh - 70px);
  box-sizing: border-box;
  position: relative;
  margin-right: 100px;
  transition: width 0.4s ease, margin-right 0.4s ease;
}

.innerContainer.shrunk {
  width: 500px;
  margin-right: 200px;
}

.subjectSelection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}

.subjectListWrapper {
  max-height: 180px;
  overflow-y: auto;
  width: 100%;
  padding-right: 4px;
  margin-top: -8px;
}

.collapseBtn {
  background: white;
  border-radius: 50%;
  padding: 6px;
  cursor: pointer;
  font-weight: 600;
  color: #1e293b;
  transition: background 0.2s ease, transform 0.3s ease;
  margin-top: 4px;
}

.collapseBtn:hover {
  background: #f8fafc;
  border: none;
}

.collapseBtn.openBtn {
  transform: rotate(180deg);
}

.changeSubjectBtn {
  background-color: #f0f7fd;
  border: 1px solid #c0cbd7;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  color: #1e293b;
  font-size: 14px;
  transition: background 0.2s ease;
  margin-top: -10px;
  align-self: flex-start;
  z-index: 100;
}

.changeSubjectBtn:hover {
  background-color: #e0f0fd;
}

.horizontalDivider {
  position: absolute;
  left: 20px;
  width: 95%;
  height: 1px;
  background-color: #7c7c78;
  border-radius: 1px;
  z-index: 10;
  transition: top 0.3s ease;
}

.horizontalDivider.expanded {
  top: 250px;
}

.horizontalDivider.collapsed {
  top: 142px;
}

.selectedSubject {
  font-size: 16px;
  font-weight: 600;
  color: #1e293b;
}

.saveButtonWrapper {
  position: absolute;
  top: 20px;
  right: 250px;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
}