.sidebar {
  width: 320px;
  height: 100vh;
  background-color: #f0f7fd;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.iconButton {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.iconButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.add {
  background-color: #1180e9;
  color: white;
}

.searchIcon, .todayIcon, .filterIcon {
  color: #777777;
}

.iconTextButton {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: #f0f7fd;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  margin-right: 15px;
  margin-left: 7px;
}

.iconTextButton:hover {
  background-color: #cee8ff;
}

.selected {
  background-color: #cee8ff;
}

.selected:hover {
  background-color: #cee8ff;
}

.selected .navText {
  color: rgb(73, 131, 197);
}

.selected .searchIcon,
.selected .todayIcon,
.selected .filterIcon {
  color: rgb(73, 131, 197);
}

.searchInput {
  all: unset;
  font: inherit;
  font-size: 14px;
  font-weight: 600;
  color: #494949;
  width: 100%;
  cursor: text;
  text-align: left;
  line-height: 1.4;
}

.searchInput::placeholder {
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
}

.navText {
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
}

.clearButton {
  margin-left: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgb(73, 131, 197);
  transition: color 0.2s ease;
}

.clearButton:hover {
  color: #0059ff;
}

.addText {
  color: #1180e9;
}

.dropdown {
  all: unset;
  font-size: 14px;
  font-weight: 600;
  color: #6e6e6e;
  cursor: pointer;
  flex: 1;
  text-align: left;
}

.dropdown option {
  all: unset;
  background-color: #fff;
  color: #494949;
  font-size: 14px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 20px;
  margin-left: 7px;
  margin-right: 15px;
  padding: 6px 10px;
  color: #1180e9;
}

.sectionText {
  font-size: 16px;
  font-weight: 600;
  color: #1180e9;
}
