.notesWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.notesListContainer {
   flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  padding: 10px;
  min-width: 0;
}

.notesContentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  gap: 20px;
}
.noteContainer h3 {
  margin-bottom: 1rem;
  font-size: 18px;
  color: #1E293B;
}

.noteCount {
  color: #1E293B;
  font-size: 14px;
  margin-top: 10px;
  font-weight: 600;
}

.addNoteBtn {
  margin-top: 1rem;
  align-self: flex-end;
}

.hologramIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.mainContainer {
  display: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: #1e293b7a;
}

.modalContent {

  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 95%;
      border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
      background-color: rgba(231, 231, 231, 0.712);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(10px);
   font-weight: 600;
   
   
}.modalContent button {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #899fc09a;
  border: 1px solid #ffffff;  
  font-weight: 600;
  min-width: 120px;
  text-align: center;
}
.modalContent button:hover {
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #4670b4a8;
  border: 1px solid #ffffff;  
  font-weight: 600;
  min-width: 120px;
  text-align: center;
}

.editMode {
  background-color: black;
  box-shadow: none;
}

.noteContentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 10px;
  min-width: 0;
}