.noteCard {
  display: flex;
  flex-direction: column;
  width: 800px;
  min-width: 300px;
  max-width: 900px;
  height: calc(100vh - 80px);
  
  padding: 2rem 1.5rem;
  box-sizing: border-box;

  background-color: #ffffff;
  color: #070707;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  overflow-y: auto;
  gap: 1rem;
}

.noteCard h4 {
  margin: 0 0 0.25rem 0;
  font-size: 14px;
  color: #aaa;
}

.noteCard p {
  margin: 0;
  font-weight: normal;
  text-align: left;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .noteCard {
    width: 40%;
    padding: 1.5rem 1rem;
    height: auto;
  
  }
}

@media (max-width: 480px) {
  .noteCard {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
  }
}