.textareaContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
}

.textarea {
  flex: 1;
  outline: none;
  font-size: 16px;
  color: #030303;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  font-weight: 400;
  text-align: left;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 500px;
  min-height: 1px;
}

.ProseMirror .placeholder {
  font-style: italic;
  color: #535c68;
}

.textarea .ProseMirror {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word !important;
  word-break: break-word;
  overflow-y: auto;
}

.textarea p,
.textarea h1,
.textarea h2,
.textarea h3,
.textarea ul,
.textarea ol {
  margin: 0 0 2px 0;
  line-height: 1.3;
}


.editorWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.textareaContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  overflow: hidden;
}