.toolbarContainer {
  display: flex;
  gap: 17px;
background-color: #0636e200;

   box-shadow: 
  0 6px 20px rgba(0, 0, 0, 0.1),  /* starkare botten-skugga */
  0 2px 4px rgba(0, 0, 0, 0.1);   /* mjukare allmän skugga */


  border-radius: 50px;
  padding: 4px 16px;
  justify-content: center;
  align-items: center;
  position: absolute;
  max-width: fit-content;
  top: 3px;
  left: 20px;
 
  z-index: 11;
}

.searchInput {
  width: 170px;
  padding: 8px 16px;
  
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
  
  caret-color: auto;
  
  font-size: 14px; 
  color:black;
}

.iconButton {
  border: none;
  width: 27px;
  height: 27px;
  padding: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
  overflow: hidden; /* tvingar rund form */
}


/* Alla ikoner får ärva färg från knappen */
.iconButton svg {
  color: inherit;
}

.iconButton:hover {
  transform: scale(1.2);
}

.iconButton:disabled {
  opacity: 0.4;
  cursor: default;
}

/* Variantfärger */
.filter {
  background-color: #020929; /* mörk cirkel */
  color: white;
}

.add {
  background-color: #1839ca; /* mörk cirkel */
  color: white;
}


.dropdown {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0642c5;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 220px;
 
}

.dropdownItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dropdownItem select,
.dropdownItem input {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}