body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.loginContainer {
    min-width: 310px;
    margin: 5rem auto;
    padding: 2.5rem 3rem;
    border-radius: 20px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    background-color: #e4e6ec36;
    border: 2px solid #eeeff1;
    height: 450px;
}

.loginContainer h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex-grow: 0;
    padding-bottom: 0;
}

.loginContainer input,
.loginContainer .forgotPassword,
.loginContainer button {
    margin-bottom: 10px;
}

.loginContainer input {
  padding: 13px 15px;
  font-size: 1.1rem;
  border: 1px solid #f8f8f8;
  border-radius: 6px;
  font-weight:lighter;
  background-color: #ffffffec;
  color: #333333;
}
.loginContainer button {
  padding: 12px;
  font-size: 1.1rem;
  background-color: #55769b;
  border: none;
  border-radius: 6px;
  color: #eef1ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;

}

.loginContainer ::placeholder {
  color:#dddfe2;
}

.loginContainer button:hover {
  background-color: #3a536e;
}

.errorMessage {
  min-height: 1.5rem;
  color: red;
  text-align: center;
}

.loginContainer p.bottomText {
    margin-top:110px;
    text-align: center;
    color: rgb(80, 78, 78);
    font-size: 15px;
}

.loginContainer .forgotPassword {
    margin: 0px 0 0px 0;
    font-size: 14px;
    color: #39393a;
    text-align: left;
    cursor: pointer;
}


.registerLink {
    color: rgb(77, 75, 75);
    font-weight: bold;
    text-decoration: none;
    display: inline;
}

.registerLink:hover {
    color: black;
     text-decoration: underline;
}



.label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    text-align: left;
    
    margin-bottom: 6px;
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  width: 100%;
  padding-right: 40px;
}

.togglePassword {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-73%);
  cursor: pointer;
  color: #888;
  transition: color 0.2s ease;
}

.togglePassword:hover {
  color: #333;
}

.loginIcon {
  position: absolute;
  top: 70px;
  left: 1325px;
  color: #55769b;
  cursor: default;
}