.loginContainer {
  max-width: 400px;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #343155;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #151a2f;
}

.loginContainer h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.loginContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loginContainer input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 1px solid #343155;
  border-radius: 4px;
}

.loginContainer button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #225891;
  border: none;
  border-radius: 25px;
  color: #eef1ff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginContainer button:hover {
  background-color: #007bff;
}

.errorMessage {
  min-height: 1.5rem;
  color: red;
  text-align: center;
}

.loginContainer p {
    margin-top: 30px;
    color: rgb(189, 188, 188);
    text-align: center;
    margin-bottom: 1rem;
    font-size: 16px;
}

.buttonLink {
    margin-top: 10px;
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #053568;
    color: white;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.buttonLink:hover {
    color: white;
  background-color: #0056b3;
}