.logoutButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #292929;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
  border: none;
}

.logoutButton:hover {
  background-color: #cee8ff;
  color: rgb(73, 131, 197);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
