.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  padding-top: 0px;
  
}

.title {
  min-width: 115px;
  text-align: left;
  font-size: 17px;
  color: #000000be;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
border-radius: 30px;
gap: 15px;
  justify-content: flex-start;

  
  padding: 20px;
  position: relative;
  
  left: 0;
  right: 0;
}

.button {
  display: flex;
  align-items: center;
  gap: 6px;
  letter-spacing: -0.3px;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(212, 206, 206, 0.199);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px);
  font-weight: 600;
  transition: background 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
  border: 1px solid transparent;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  color: rgb(255, 255, 255);
  background: rgba(79, 87, 145, 0.7);
  transform: translateY(0);
}

.selected {
  color: rgb(253, 254, 255);
  background-color: #1180e9;
}

.selected:hover {
  color: rgb(253, 254, 255);
  background-color: #1180e9;
}

.unselected {
  color: rgb(91, 103, 117);
  background-color: rgba(212, 206, 206, 0.199);
  border: 1px solid #ffffff;
}

.unselected:hover {
  color: rgb(30, 63, 100);
  background-color: rgba(212, 206, 206, 0.199);
  border: 1px solid #ffffff;
}

.colorCircle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  flex-shrink: 0;
}

.savePrefBtn {
  display: block;
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 13px;
  border: 2px solid #343155;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #2a2d57;
}