.containerWrapper {
  width: 800px;
  height: 600px;
  margin: 3rem 0; 
  padding: 1rem 1.5rem;
  border: 1px solid #343155;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background-color: #11162b;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  overflow: hidden;
  box-sizing: border-box;
}