.mainContainer2 {
  position: fixed;
  top: 80px;
  left: 980px;
  bottom: 0;
  width: 700px;
  padding: 1rem 1.5rem;
  border-top-right-radius: 15px;

  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
  background-color: #8097b3;
  

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.buttonContainer {
  background-color: #1b2146;
  padding-bottom: 40px;
  border-radius: 20px;
  margin-bottom: 15px;
  border: 1px solid #343155;
}

.saveBtn {
  display: block; 
  margin: 20px 0 0 0;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 13px;
  border: 2px solid #343155;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  background-color: #2a2d57;
}

.mainContainer h3 {
  text-align: left;
  font-size: 17px;
  color: #000000b2;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
}
.mainWrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.saveWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  color: rgb(151, 154, 189);
}


.hologramIcon svg {
  color: #64b0ff;
  transform: translateZ(0);
  transition: transform 0.3s ease, filter 0.3s ease, color 0.3s ease;
}

.hologramIcon svg:hover {
  transform: translateY(-2.55px) scale(1.1) translateZ(0);
  color: #ffffff;
}
