.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f7fd;
  border-bottom: 1px solid #d1e4f8;
   
    

  padding: 0 1rem;
  z-index: 100;
}

.disabledButton {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.topHamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
}


.logoWrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left:70px;
  gap: 0.5rem;
}

.logoWrapper img {
  height: 40px;
  width: 40px;
}

.text {
 color: rgb(29, 85, 131);
  font-size: 1.2rem;
  font-weight: bold;
  font-size: 32px;
  
}

.rightHamburgerWrapper {
  display: flex;
  align-items: center;
  color:rgb(113, 120, 134);
}

.rightHamburgerWrapper svg {
  color: #2a68dd;
}
.routeTitle {
 color: rgb(74, 110, 145);

  font-weight: bold;
  font-size: 0px;
  margin-left: 200px;
  margin-top:25px;
}