.mainContainer {
  position: absolute;
  top:50px;
  left: 60px;
  right: 0;
  bottom: 0;
  background-color: #fffffffd;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1; /* Sidebar får högre z-index */
  display: flex;
  flex-direction: column;
  border-top-left-radius: 14px;
}
