.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Rubrik alltid vänster */
  padding-top: 0;
  z-index: 200;
  overflow: hidden;
  border-right: 4px solid #e2e2e27e;
}

.sidebarHeader {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  color: #285986;
  gap: 1px; /* avstånd mellan bild och text */
}

.logo {
  width: 45px;    /* justera storlek efter behov */
  height: 45px;
  object-fit: contain;
  margin-left: 30px;
}

/* Wrapper som centrerar menyn lodrätt */
/* Wrapper som centrerar menyn lodrätt */
.navWrapper {
  flex: 1; /* tar all återstående höjd */
  display: flex;
  align-items: center;  /* centrerar lodrätt */
  justify-content: center; /* centrera horisontellt */
  width: 100%;
}

/* Själva menyn */
.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%; /* gör menyn smalare och centrerad */
  align-items: flex-start; /* text vänster i varje item */
  margin: 0 auto; /* centrerar nav horisontellt i wrapper */
}


.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #292929;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.navItem:hover {

  color: rgb(73, 131, 197);
}

.activeNavItem {
 
  color: rgb(8, 120, 248);
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navText {
  white-space: nowrap;
  text-align: left;
}

.sidebarFooter {
  margin-top: auto; /* pushar till botten */
  width: 100%;
  display: flex;
  justify-content: center; /* centrera knappen horisontellt */
  padding-bottom: 20px;
}

.logoutWrapper {
  width: 100%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* gör att logout hamnar längst ner */
  margin-bottom:-20px;
}

.waveDecoration {
  width: 100%;
  height: 120px; /* större våg */
}
