.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  width: 60px;
  background-color: #f5faff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 200;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

}

.sidebar.open {
  width: 220px;
  align-items: flex-start;
}

.overlay {
  position: fixed;
  top: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 150;
}

.toggleButton {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  margin-right: 8px;
  transition: color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleButton:hover {
  color: #000;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 30px;
}

.navButton {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 8px 13px;
  border-radius: 10px;
  background-color: #f0f7fd;
  color: #292929;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  transition: all 0.3s ease;
  border: none;
}

.navButton:hover {
  background-color: #cee8ff;
  color: rgb(73, 131, 197);
}

.activeNavButton {
  color: rgb(73, 131, 197);
  background-color: #cee8ff;
}

.disabledNavButton {
  cursor: not-allowed;
  opacity: 0.5;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
}

.navText {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.sidebar.open .navText {
  opacity: 1;
}

.hamburgerWrapper {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;

}
