.pageContainer {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}

.landingContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;               
  max-width: 1400px;        
  gap: 3rem;
  color: #000000b2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  margin-top: 200px;
}

.leftText {
  flex: 1;
  text-align: left;
  margin-top:70px;
}

.rightLogin {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.landingContainer h1 {
  color: #55769b;
  font-weight: 800;
  font-size: clamp(40px, 8vw, 65px);
  margin: 0;
}

.landingContainer p {
  margin: 0.5rem 0 0 0;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.4;
}
